@using Zeon.Blazor.ZInputContainer
@namespace Zeon.Blazor.ZItemChooser
@typeparam TModel
@typeparam KeyType

<ZInputContainer IsLoading="_isloading" Id="@Name" Width="100%" TModel="TModel" For="@For" Icon="@Icon">
    <div class="row m-auto p-0">
        <div class="col m-auto p-1">
            <input id="@_inputId" class="form-control container-fluid p-0" type="text" @onkeydown="(e)=> InputOnKeyDown(e)" @bind="_displayValue" @oninput="OnInput" />
        </div>
        @if (ShowSelectedKey)
        {
            <div class="col-4 p-0 m-auto">
                <div class="row p-0 m-auto">
                    <div class="col-auto m-auto p-1">
                        <span>@KeyDisplayText</span>
                    </div>
                    <div class="col m-auto p-1">
                        <input readonly="readonly" class="form-control container-fluid p-0 text-center" type="text" @bind="_displayKey" />
                    </div>
                </div>
            </div>
        }
    </div>

    @if (_showItems)
    {
        <div id="@_listId" class="container-fluid border-1 p-0 m-auto overflow-auto zeon-ItemChooser-listItems">
            @{
                int i = 1;
                var bgColor = @OddItemColor;
            }

            @foreach (var item in _dataSource)
            {
                var index = i;
                var id = Name + index.ToString();
                <button role="listitem" class=" w-100 m-auto text-start zeon-ItemChooser-Item" style="background-color:@bgColor" id=@id @onkeydown="(e)=> ItemOnKeyPress(e,index)" @ondblclick="(e)=> ItemOnDblClick(e,index) ">@item.Value</button>
                <div style="padding:0px">
                </div>
                i++;
                bgColor = bgColor == @OddItemColor ? @EvenItemColor : @OddItemColor;
            }
            @if (_dataSource.Count == 0)
            {
                <span class="w-100 p-1 m-auto d-block" style="background-color:@NotFoundRecordBackgroundColor">
                    @NotFoundRecordText
                </span>
            }
        </div>
    }

</ZInputContainer>
