@namespace Zeon.Blazor.ZTreeView
@typeparam TValue

<div class="zeon-tree-view-content" style="--background-color:@BackgroundColor">
    @foreach (var item in Data.Where(q => q.ParentId is null).Where(_filter).ToList())
    {
        string checkBoxClass = GetCheckBoxClassMode(Data, item);
        string expandedClass = GetExpandedClassMode(Data, item);
        string selectedClass = GetSelectedClassMode(item.Id);
        <ul @ondrop="OndropUl" ondragover="event.preventDefault();" ondragstart="event.dataTransfer.setData('', event.target.id);">
            <li id="@GetItemId(item.Id)" class="zeon-tree-view-item">
                <div draggable="true" class="zeon-tree-view-item-row @selectedClass" @onclick:stopPropagation=true @onclick="()=> SelectedOnClick(item.Id)">
                    <span @onclick="()=> ExpandedOnClick(item.Id)" class="@expandedClass"></span>
                    @if (ShowCheckedBox)
                    {
                        <span @onclick:stopPropagation=true @onclick="()=> CheckedOnClick(item.Id)" class="@checkBoxClass"></span>
                    }
                    <span class="zeon-tree-view-item-text">@item.Text</span>
                    <div class="zeon-tree-view-item-actions">
                        <span class="zf zf-check"></span>
                        <span class="zf zf-question"></span>
                        <span class="zf zf-check"></span>
                    </div>
                </div>
                @if (item.Expanded)
                {
                    <ChildrenTree GetItemId="GetItemId" Filter="_filter"
                          GetCheckBoxClassMode="GetCheckBoxClassMode" GetExpandedClassMode="GetExpandedClassMode" GetSelectedClassMode="GetSelectedClassMode"
                          DataSource="Data" Items="Data.Where(q=> q.ParentId == item.Id).ToList()"
                          CheckedOnClick="CheckedOnClick" ExpandedOnClick="ExpandedOnClick" SelectedOnClick="SelectedOnClick"
                          ShowCheckedBox="ShowCheckedBox">
                    </ChildrenTree>
                }
            </li>
        </ul>
    }

</div>
